body {
  background-color: #060606;
  margin: 0;
  font-family: courier new, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #FFFFFF;
}

.container {
  width: 820px; 
	margin: 20px auto;
}

.page-header {
  padding: 20px;
  background-image: url("twlogo.png");
  background-repeat: no-repeat;
  background-position: top right;
}

div#questions {
	padding: 0 20px 20px 20px;
}

div.options {
	width: 320px;
	margin: 0 auto;
	padding: 0;
}

#win, #lose, .question, .answer {
  display: none;
}

#win, #lose {
	background: url("faces.png") top left no-repeat;
	width: 400px;
	margin: 0 auto 150px auto;
	min-height: 110px;
}

#win {background-position: 0 -120px;}
#lose {background-position: 0 0;}

#win p, #lose p, #win .alert-actions, #lose .alert-actions {margin-left: 180px;}


.btn {
  color: #000000;
  display: block;

  background-color: #d5e04d;
  text-decoration: none;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d5e04d), to(#eaf18f));
  background-image: -moz-linear-gradient(top, #d5e04d, #eaf18f);
  background-image: -ms-linear-gradient(top, #d5e04d, #eaf18f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5e04d), color-stop(100%, #eaf18f));
  background-image: -webkit-linear-gradient(top, #d5e04d, #eaf18f);
  background-image: -o-linear-gradient(top, #d5e04d, #d5e04d);
  background-image: linear-gradient(top, #d5e04d, #d5e04d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5e04d', endColorstr='#d5e04d', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #d5e04d #d5e04d #a9b607;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

}

.btn.large {
  width: 300px;
  font-size: 15px;
  line-height: normal;
  padding: 9px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  width: 80px;
  text-align: center;
}

.btn:hover {
  background-position: 0 -15px;
  color: #000;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}

.choices {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.choices li {
  padding-top: 20px;
}

.choices li a {
  width: 300px;
  text-align: center;
  text-decoration: none;
}

.choices li a:hover {
  text-decoration: none;
}

footer {
	background: #000 url("line2.png") top center no-repeat;
	padding: 5px 40px;
}



