<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>ThoughtWorks YOW! Quiz
        <small>win awesome prizes....</small>
      </h1>
    </div>
    <div class="row">
      <div class="span14">
        <h2>ThoughtWorks has offices in how many countries?</h2>

        <ol class="answers">
          <li>
            <a href="#" class="btn large primary">4</a>
          </li>
          <li>
            <a href="#" class="btn large primary">8</a>
          </li>
          <li>
            <a href="#" class="btn large primary">10</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <footer>
    <p>&copy; ThoughtWorks 2011</p>
  </footer>
</div>