<div class="container">
  <div class="content">
    <div class="page-header">
      <img src="/assets/message.png" alt="Answer 3 questions correctly for your chance to win an immediate prize and get into the draw to win one of 2 apple TVs or a Kindle" />
      <img src="/assets/line.png" alt="" />
	</div>

    <div id="questions">
    </div>

    <div id="win" class="alert-message block-message success">
      <p>Congratulations! You win!</p>
      <div class="alert-actions">
        <a class="btn small" href="#">Play again</a>
      </div>
    </div>

    <div id="lose" class="alert-message block-message error">
      <p>Sorry, you didn't win this time.</p>
      <div class="alert-actions">
        <a class="btn small" href="#">Play again</a>
      </div>
    </div>

  </div>
  <footer>
    <p>&copy; ThoughtWorks 2011</p>
  </footer>
</div>