<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>ThoughtWorks YOW! Quiz
        <small>win awesome prizes....</small>
      </h1>
    </div>

    <div id="questions">
    </div>

  </div>
  <footer>
    <p>&copy; ThoughtWorks 2011</p>
  </footer>
</div>